.idea/
environments/overlays/bootstrap/sealed-secrets-secret.yaml.OLD
alertmanager-config.yaml
alertmanager-main-secret.yaml
github-secret.yaml

cloud-dns-credentials.yaml
alertmanager.yaml
alertmanager-example.yaml
*.DELETE
*.NOCOMMIT
*.EXAMPLE
manifests/apps/aws-iam-integration/base/default/next-bound-service-account-signing-key.yaml
manifests/configs/htpasswd/base/htpass-secret.yaml
environments/overlays/aws/secret.yaml
